ionic-client/platforms/android/ant-build/AndroidManifest.cordova.xml
ionic-client/platforms/android/ant-build/AndroidManifest.xml.d
ionic-client/platforms/android/ant-build/classes.dex
*.java
*.class
ionic-client/platforms/android/ant-build/build.prop
*.d
ionic-client/platforms/android/ant-build/dexedLibs/classes-1a6e56bb1bcc3f12cdf94bee8be1b05b.jar
ionic-client/platforms/android/ant-build/myHomework-debug-unaligned.apk
ionic-client/platforms/android/ant-build/myHomework-debug.apk
ionic-client/platforms/android/ant-build/myHomework.ap_
ionic-client/platforms/android/ant-build/proguard.txt
ionic-client/platforms/android/ant-build/R.txt
ionic-client/platforms/android/ant-build/res/drawable-hdpi/icon.png
ionic-client/platforms/android/ant-build/res/drawable-land-hdpi/screen.png
ionic-client/platforms/android/ant-build/res/drawable-land-ldpi/screen.png
ionic-client/platforms/android/ant-build/res/drawable-land-mdpi/screen.png
ionic-client/platforms/android/ant-build/res/drawable-land-xhdpi/screen.png
ionic-client/platforms/android/ant-build/res/drawable-ldpi/icon.png
ionic-client/platforms/android/ant-build/res/drawable-mdpi/icon.png
ionic-client/platforms/android/ant-build/res/drawable-port-hdpi/screen.png
ionic-client/platforms/android/ant-build/res/drawable-port-ldpi/screen.png
ionic-client/platforms/android/ant-build/res/drawable-port-mdpi/screen.png
ionic-client/platforms/android/ant-build/res/drawable-port-xhdpi/screen.png
ionic-client/platforms/android/ant-build/res/drawable-xhdpi/icon.png
ionic-client/platforms/android/ant-build/res/drawable/icon.png
ionic-client/platforms/android/assets/www/cordova.js
ionic-client/platforms/android/assets/www/cordova_plugins.js
ionic-client/platforms/android/assets/www/css/android.css
ionic-client/platforms/android/assets/www/css/style.css
ionic-client/platforms/android/assets/www/img/ionic.png
ionic-client/platforms/android/assets/www/index.html
ionic-client/platforms/android/assets/www/js/android_app.js
ionic-client/platforms/android/assets/www/js/android_controllers.js
ionic-client/platforms/android/assets/www/js/models.js
ionic-client/platforms/android/assets/www/lib/ionic/css/ionic.css
ionic-client/platforms/android/assets/www/lib/ionic/css/ionic.min.css
ionic-client/platforms/android/assets/www/js/services.js
ionic-client/platforms/android/assets/www/lib/ionic/fonts/ionicons.eot
ionic-client/platforms/android/assets/www/lib/ionic/fonts/ionicons.svg
ionic-client/platforms/android/assets/www/lib/ionic/fonts/ionicons.ttf
ionic-client/platforms/android/assets/www/lib/ionic/fonts/ionicons.woff
ionic-client/platforms/android/assets/www/lib/ionic/js/angular-ui/angular-ui-router.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular-ui/angular-ui-router.min.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular/angular-animate.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular/angular-animate.min.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular/angular-resource.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular/angular-resource.min.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular/angular-sanitize.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular/angular-sanitize.min.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular/angular.js
ionic-client/platforms/android/assets/www/lib/ionic/js/angular/angular.min.js
ionic-client/platforms/android/assets/www/lib/ionic/js/ionic-angular.js
ionic-client/platforms/android/assets/www/lib/ionic/js/ionic-angular.min.js
ionic-client/platforms/android/assets/www/lib/ionic/js/ionic.bundle.js
ionic-client/platforms/android/assets/www/lib/ionic/js/ionic.bundle.min.js
ionic-client/platforms/android/assets/www/lib/ionic/js/ionic.js
ionic-client/platforms/android/assets/www/lib/ionic/js/ionic.min.js
ionic-client/platforms/android/assets/www/lib/ionic/scss/ionic.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/ionicons/ionicons.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/ionicons/_ionicons-animation.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/ionicons/_ionicons-font.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/ionicons/_ionicons-icons.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/ionicons/_ionicons-variables.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_action-sheet.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_animations.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_backdrop.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_badge.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_bar.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_button-bar.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_button.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_checkbox.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_items.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_list.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_grid.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_loading.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_form.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_modal.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_mixins.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_platform.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_menu.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_popover.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_progress.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_range.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_radio.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_popup.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_scaffolding.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_select.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_split-pane.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_tabs.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_slide-box.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_toggle.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_type.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_util.scss
ionic-client/platforms/android/assets/www/lib/ionic/scss/_variables.scss
ionic-client/platforms/android/assets/www/lib/ionic/version.json
ionic-client/platforms/android/assets/www/plugins/com.ionic.keyboard/www/keyboard.js
ionic-client/platforms/android/assets/www/lib/ionic/scss/_reset.scss
ionic-client/platforms/android/assets/www/plugins/org.apache.cordova.device/www/device.js
ionic-client/platforms/android/assets/www/README.md
ionic-client/platforms/android/assets/www/templates/android/app_main.html
ionic-client/platforms/android/assets/www/templates/login.html
ionic-client/platforms/android/assets/www/templates/profile.html
ionic-client/platforms/android/assets/www/templates/sheet.html
ionic-client/platforms/android/assets/www/templates/loading.html
ionic-client/platforms/android/assets/www/templates/studentLabCompletion.html
ionic-client/platforms/android/assets/www/templates/subject.html
*.xml
ionic-client/platforms/android/assets/_where-is-www.txt
ionic-client/platforms/android/cordova/android_sdk_version
ionic-client/platforms/android/cordova/build
ionic-client/platforms/android/cordova/build.bat
ionic-client/platforms/android/cordova/check_reqs
ionic-client/platforms/android/cordova/clean
ionic-client/platforms/android/cordova/clean.bat
ionic-client/platforms/android/cordova/lib/android_sdk_version.js
ionic-client/platforms/android/cordova/lib/appinfo.js
ionic-client/platforms/android/cordova/lib/build.js
ionic-client/platforms/android/cordova/lib/check_reqs.js
ionic-client/platforms/android/cordova/lib/device.js
ionic-client/platforms/android/cordova/lib/clean.js
ionic-client/platforms/android/cordova/lib/emulator.js
ionic-client/platforms/android/cordova/lib/exec.js
ionic-client/platforms/android/cordova/lib/install-device
ionic-client/platforms/android/cordova/lib/install-device.bat
ionic-client/platforms/android/cordova/lib/install-emulator
ionic-client/platforms/android/cordova/lib/install-emulator.bat
ionic-client/platforms/android/cordova/lib/list-devices
ionic-client/platforms/android/cordova/lib/list-devices.bat
ionic-client/platforms/android/cordova/lib/list-emulator-images
ionic-client/platforms/android/cordova/lib/list-emulator-images.bat
ionic-client/platforms/android/cordova/lib/list-started-emulators
ionic-client/platforms/android/cordova/lib/list-started-emulators.bat
ionic-client/platforms/android/cordova/lib/run.js
ionic-client/platforms/android/cordova/lib/log.js
ionic-client/platforms/android/cordova/lib/spawn.js
ionic-client/platforms/android/cordova/lib/start-emulator
ionic-client/platforms/android/cordova/lib/start-emulator.bat
ionic-client/platforms/android/cordova/log
ionic-client/platforms/android/cordova/log.bat
ionic-client/platforms/android/cordova/run
ionic-client/platforms/android/cordova/run.bat
ionic-client/platforms/android/cordova/version
ionic-client/platforms/android/cordova/version.bat
ionic-client/platforms/android/CordovaLib/.project
ionic-client/platforms/android/CordovaLib/ant-build/build.prop
ionic-client/platforms/android/CordovaLib/ant-build/proguard.txt
ionic-client/platforms/android/CordovaLib/ant-build/classes.jar
ionic-client/platforms/android/CordovaLib/local.properties
ionic-client/platforms/android/CordovaLib/proguard-project.txt
ionic-client/platforms/android/CordovaLib/project.properties
ionic-client/platforms/android/local.properties
ionic-client/platforms/android/platform_www/cordova.js
ionic-client/platforms/android/proguard-project.txt
ionic-client/platforms/android/project.properties
ionic-client/platforms/android/res/drawable-hdpi/icon.png
ionic-client/platforms/android/res/drawable-land-hdpi/screen.png
ionic-client/platforms/android/res/drawable-land-ldpi/screen.png
ionic-client/platforms/android/res/drawable-land-mdpi/screen.png
ionic-client/platforms/android/res/drawable-land-xhdpi/screen.png
ionic-client/platforms/android/res/drawable-mdpi/icon.png
ionic-client/platforms/android/res/drawable-ldpi/icon.png
ionic-client/platforms/android/res/drawable-port-hdpi/screen.png
ionic-client/platforms/android/res/drawable-port-ldpi/screen.png
ionic-client/platforms/android/res/drawable-port-mdpi/screen.png
ionic-client/platforms/android/res/drawable-port-xhdpi/screen.png
ionic-client/platforms/android/res/drawable-xhdpi/icon.png
ionic-client/platforms/android/res/drawable/icon.png
ionic-client/plugins/android.json